

/*====================================================================================================*/






table {

    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
  }


  th,
  td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }


  th {
    background-color: black;
    color: white;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #ddd;
  }

/* Responsive table styles */
@media screen and (max-width: 767px) {
    table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 20px;
    }

    thead {
        display: none;
        visibility: hidden;
        text-align: left;
    }

    tbody {
        display: block;
    }

    tr {
        display: block;
        margin-bottom: 10px;
        border: 1px solid #ccc;
    }

    td {
        display: block;
        text-align: center;
        font-size: 1rem;
        border-bottom: 1px solid #ddd;
        position: relative;
        padding: 1rem 0 1rem 50%;
        box-sizing: border-box;
    }

    td:before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 8px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: left;
    }

    td:last-child {
        border-bottom: none;
    }

    td:not(:last-child) {
        text-align: left;
    }
}



/* =================================================================================================== */
/*.containerForm {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

/*form {*/
/*    height: 100vh;*/
/*    display: grid;*/
/*    grid-template-columns: repeat(3, 5fr);*/
/*    gap: 20px;*/
/*    background-color: rgba(12, 12, 12, 0.62);*/
/*    padding: 15px;*/
/*    color: white;*/
/*}*/




/*label {*/
/*    display: block;*/
/*    margin-bottom: 5px;*/
/*    font-weight: bold;*/
/*}*/

/*input[type="text"],*/
/*input[type="email"],*/
/*input[type="tel"],*/
/*textarea {*/
/*    display: block;*/
/*    width: 100%;*/
/*    padding: 10px;*/
/*    border-radius: 5px;*/
/*    border: none;*/
/*    margin-bottom: 10px;*/
/*    box-shadow: 0px 1px 3px rgba(96, 91, 90, 0.7);*/
/*}*/

/*select {*/
/*    display: block;*/
/*    width: 100%;*/
/*    padding: 10px;*/
/*    border-radius: 5px;*/
/*    border: none;*/
/*    margin-bottom: 10px;*/
/*    box-shadow: 0px 1px 3px rgba(96, 91, 90, 0.7);*/
/*}*/

/*input[type="checkbox"] {*/
/*    margin-right: 10px;*/
/*}*/

/*input[type="submit"] {*/
/*    display: block;*/
/*    background-color: #4CAF50;*/
/*    color: white;*/
/*    padding: 10px;*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*    cursor: pointer;*/
/*}*/

/*input[type="submit"]:hover {*/
/*    background-color: #3e8e41;*/
/*}*/

/*input[type="submit"]:active {*/
/*    background-color: #3e8e41;*/
/*    transform: translateY(1px);*/
/*}*/

/*input[type="file"] {*/
/*    margin-top: 10px;*/
/*}*/

/*@media screen and (max-width: 768px) {*/
/*    form {*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*    }*/

/*    label {*/
/*        font-size: 16px;*/
/*    }*/

/*    input[type="submit"] {*/
/*        font-size: 16px;*/
/*    }*/
/*}*/


/*input[type="text"]:hover,*/
/*input[type="email"]:hover,*/
/*input[type="tel"]:hover,*/
/*textarea:hover,*/
/*select:hover {*/
/*    box-shadow: 0px 1px 5px rgba(245, 245, 245, 0.3);*/
/*}*/

/*@media screen and (max-width: 768px) {*/
/*    form {*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*    }*/

/*    label {*/
/*        font-size: 16px;*/
/*    }*/

/*    input[type="submit"] {*/
/*        font-size: 16px;*/
/*    }*/
/*}*/


/**{*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*    font-family: 'Poppins', sans-serif;*/
/*}*/

.contactUs{
    background: linear-gradient(#0e3959 0%, #0e3959 30%, #03a9f5 30%, #03a9f5 100%);
}

.contactUs{
    position: relative;
    width: 100%;
    padding: 40px 100px;
}

.contactUs .title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.contactUs .title h1
{
    color: #03a8f4;
    font-weight: 500;
}


.form{
    grid-area:form;
}

.info{
    grid-area:info;
}

.map{
    grid-area:map;
}


.contact{
    padding: 40px;
    background: #f5f2f5;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15) ;
}



.box{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas:
    "form info"
    "form map";
    grid-gap: 20px;
    margin-top: 20px;
}

.contact h3{
    color: #03a8f4;
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 10px;
}

/* form */
.formBox{
    position: relative;
    width: 100%;
}

.formBox .row50
{
    display: flex;
    gap: 20px;
}

.inputBox
{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.formBox .row100 .inputBox{
    width: 100%;
}

.inputBox label
{
    color: #18b7ff;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

.inputBox input
{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
}

.inputBox textarea
{
    padding: 4px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
    resize: none;
    min-height: 220px;
    margin-bottom: 4px;
}

.inputBox input[type = "submit"]
{
    background: #ff578b;
    color: #fff;
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
}

.inputBox ::placeholder
{
    color: rgba(128, 127, 127, 0.65);
}

/* info*/

.info{
    background: rgba(14, 57, 89, 0.8);
}

.info h3
{
    color: #fff;
}

.info .infoBox div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.info .infoBox div span
{
    min-width: 40px;
    height: 40px;
    color: #fff;
    background: #18b7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
}

.info .infoBox div p{
    color: #fff;
    font-size: 1.1em;
}

.info .infoBox div a{
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}

.sci
{
    margin-top: 40px;
    display: flex;
}

.sci li
{
    list-style: none;
    margin-right: 15px;
}

.sci li a
{
    color: #fff;
    font-size: 2em;
    color: #afafaf;
}

.sci li a:hover
{
    color: #fff;
}

.map
{
    padding: 0;
}

.map iframe
{
    width: 100%;
    height: 100%;
}

/*/* Responsive Design */


@media (max-width: 991px)
{
    body
    {
        background: #03a9f5;
    }

    .contactUs
    {
        padding: 20px;
    }

    .box
    {
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        grid-template-areas:
            "form"
            "info"
            "map";
    }



    .formBox .row50
    {
        display: flex;
        gap: 0;
        flex-direction: column;
    }

    .inputBox
    {
        width: 100%;
    }

    .contact
    {
        padding: 30px;
    }

    .map
    {
        min-height: 300px;
        padding: 0px;
    }
}

















