


.my-heading {
    color: #f8f6f6;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    transition: all 0.3s ease-in-out;
}

.my-heading:hover {
    color: #ff4c4c;
    text-shadow: 4px 4px 10px rgba(0,0,0,0.7);
}



.my-heading2 {
    padding-top: 50px;
    color: #421f1f;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    transition: all 0.3s ease-in-out;
}

.my-heading2:hover {
    color: #343131;
    text-shadow: 4px 4px 10px rgba(255, 60, 0, 0.7);
}



body {

    height: 1000px; /*this change the height of table*/

}
/*============================  FOOOTEER ====================================================*/

.footer {
    z-index: 1;
    --footer-background: #ED5565;
    display: grid;
    position: relative;
    grid-area: footer;
    min-height: 12rem;
}

@media only screen and (max-width: 768px) {
    .footer {
        min-height: 20rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

.bubbles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1rem;
    background: var(--footer-background);
    filter: url("#blob");
    width: 90%;
}

.bubble {
    position: absolute;
    left: var(--position, 50%);
    background: var(--footer-background);
    border-radius: 100%;
    animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s),
    bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    transform: translate(-50%, 100%);
}

.content {
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 4rem;
    padding: 2rem;
    background: var(--footer-background);
}



a,
p {
    color: #F5F7FA;
    text-decoration: none;
    font-size: 1.2rem;
}

b {
    color: white;
}

p {
    margin: 0;
    font-size: 1.2rem;
}

>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

>div {
    margin: 0.25rem 0;
}

>* {
    margin-right: 0.5rem;
}

.image {
    align-self: center;
    width: 4rem;
    height: 4rem;
    margin: 0.25rem 0;
    background-size: cover;
    background-position: center;
}



@keyframes bubble-size {
    0%,
    75% {
        width: var(--size, 4rem);
        height: var(--size, 4rem);
    }
    100% {
        width: 0rem;
        height: 0rem;
    }
}

@keyframes bubble-move {
    0% {
        bottom: -4rem;
    }
    100% {
        bottom: var(--distance, 10rem);
    }
}



@media only screen and (max-width: 500px) {
    .footer{
        display: none;
    }

    .content {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .image {
        width: 3rem;
        height: 3rem;
        position: initial;
    }
}



/*====================================================================================================*/
/*====================================================================================================*/
/*table*/

/* Media Query Breakpoints */
@media screen and (max-width: 600PX) { /* up to 360px */
    table {
        display: flex;
    }
    table > *, tr, td, th {
        display: block;
    }

    th {
        display: none;
    }

    td:nth-child(1):before {
        content: "ID:  ";
    }
    td:nth-child(2):before {
        content: "NAME:  ";
    }
    td:nth-child(3):before {
        content: "MANAGER:  ";
    }
    td:nth-child(4):before {
        content: "TELEPHONE:  ";
    }
    td:nth-child(5):before {
        content: "ADDRESS:   ";
    }
    td:nth-child(6):before {
        content: "STABLISHED:   ";
    }



}




    .containerForm{
        background: linear-gradient(#212529 0%, rgb(245, 164, 164) 30%, #f2a2a2 30%, #202428 100%);
        margin: 0;
        height: 70%;
    }

    .containerAll{
        background: linear-gradient(#212529 0%, rgb(245, 164, 164) 30%, #f2a2a2 30%, #202428 100%);
        margin: 0;
        height: 80%;

    }


    .containerTable{
        align: center;

    }

    .tabla-desktop{
        width: 100%;
        border-collapse: collapse;
        align-self: center;
    }

    .tabla-desktop tr th{
        background-color: #303030;
        color: white;
        border: 1px solid #909090;
        padding: 5px;
        text-align: left;
        cursor: pointer;
    }

    .tabla-desktop tr th:hover {
        background-color: #696969;
    }
    .tabla-desktop tr td:hover {
        background-color: #e5e4e4;
    }


    .tabla-desktop tr td{
        border: 1px solid #909090;
        padding: 5px;
        cursor: pointer;
    }

    .tabla-desktop tr:nth-of-type(odd){
        background-color: #dcdcdc;
    }

    th {
        background-color: black;
        color: white;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #ddd;
    }

@media only screen and (max-width: 500px) {
    .tabla-desktop {
        font-size: 0.8em;
    }

    .tabla-desktop tr th,
    .tabla-desktop tr td {
        padding: 4px;
    }

    .tabla-desktop tr th {
        font-size: 0.9em;
    }
}




/* =================================================================================================== */
/* =================================================================================================== */
/*FORM - CONTACT US*/

.contactUs{
    background: linear-gradient(#212529 0%, rgb(245, 164, 164) 30%, #f2a2a2 30%, #202428 100%);
}

.contactUs{
    position: relative;
    width: 100%;
    padding: 40px 100px;

}

.contactUs .title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.contactUs .title h1
{
    color: #ffffff;
    font-weight: 5500;

}


.form{
    grid-area:form;
}

.info{
    grid-area:info;
}

.map{
    grid-area:map;
}


.contact{
    padding: 40px;
    background: #f5f2f5;
    box-shadow: 0 5px 35px rgb(33, 37, 41);
}

.box{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas:
    "form info"
    "form map";
    grid-gap: 20px;
    margin-top: 20px;
}

/*.box > div:nth-child(2) {*/
/*    width: 100%;*/
/*    height: 70%;*/
/*}*/





.contact h3{
    color: #212529;
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 25px;
}

/* form */
.formBox{
    position: relative;
    width: 100%;
}

.formBox .row50
{
    display: flex;
    gap: 20px;
}

.inputBox
{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.formBox .row100 .inputBox{
    width: 100%;
}

.inputBox label
{
    color: #212529;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

.inputBox input
{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
}

.inputBox textarea
{
    padding: 4px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
    resize: none;
    min-height: 220px;
    margin-bottom: 4px;
}

.inputBox input[type="submit"] {
    background: #f55656;
    color: #212529;
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
    transition: all 0.2s ease-in-out;
    border-radius: 40%;
}

.inputBox input[type="submit"]:hover {
    background: #ff7b7b;
    color: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
    border-radius: 40%;
}


.inputBox ::placeholder
{
    color: rgba(128, 127, 127, 0.65);
}

/* =================================================================================================== */



/* =================================================================================================== */
/* INFO - CONTACT US*/

    .info{
        background: rgb(67, 57, 61);
    }

    .info h3
    {
        color: #fdfdfd;
    }

    .info .infoBox div{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .info .infoBox div span
    {
        min-width: 40px;
        height: 40px;
        color: #fdfdfd;
        background: #f55656;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
        border-radius: 50%;
        margin-right: 15px;
    }

    .info .infoBox div p{
        color: #fdfdfd;
        font-size: 1.1em;
    }

    .info .infoBox div a{
        color: #fdfdfd;
        text-decoration: none;
        font-size: 1.1em;
    }

    .sci
    {
        margin-top: 40px;
        display: flex;
    }

    .sci li
    {
        list-style: none;
        margin-right: 15px;
    }

    .sci li a
    {
        color: #fff;
        font-size: 2em;
        color: #fdfdfd;
    }

    .sci li a:hover
    {
        color: #ee3f3f;
    }


/* =================================================================================================== */
/* =================================================================================================== */
/* MAP - CONTACT US*/

.map
{
    padding: 0;
}

.map iframe
{
    width: 100%;
    height: 100%;
}

/* =================================================================================================== */
/* =================================================================================================== */
/* FORM */
/*/* Responsive Design */


    @media (max-width: 500px)
    {
        body
        {
            background: #f55656;

        }

        .contactUs
        {
            padding: 2px;
        }

        .box
        {
            grid-template-columns: 1fr;
            grid-auto-rows: auto;
            grid-template-areas:
                "form"
                "info"
                "map";
        }



        .formBox .row50
        {
            display: flex;
            gap: 0;
            flex-direction: column;

        }

        .inputBox
        {
            width: 100%;
        }

        .contact
        {
            padding: 20px;
        }

        .map
        {
            min-height: 250px;
            padding: 0px;
        }
    }



/*=========================================================================*/













